body {
    padding: 0;
    margin: 0;
  }
  /* set map, body, and html to 100% of the screen size */
  #map,
  body,
  html {
    height: 100%;
  }
  /*------------------------*/
  #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }


.legend {
    border-radius: 20px;
    background-color: white;
    /* line-height: 18px; */
    /* color: #555; */
    max-width: width 10px;
    }
    .legend i {
    width: 22px;
    height: 15px;
    float: left;
    margin-right: 20px;
    opacity: 0.7;
    border-radius: 22px;
    }

    